<%= form_for [micropost, Comment.new] do |f| %>
	<div class="form-group">
		<%= f.label :comment %>
		<%= f.text_area :body, class:"form-control", placeholder: "Add a comment" %>
	</div>
	<%= f.submit class:"btn btn-primary" %>
<% end %>